/*---------------------- common------------------ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.general-contain{
    max-width: 1920px;
    margin:0 auto;
    position: relative;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.clearfix .float-left{
    float: left;
}

.clearfix .float-right{
    float: right;
}

.container{
    width: 85%;
    max-width: 1170px;
    margin: 0 auto;
}

.wrapper{
     width: 75%;      /*da mantenere dopo container */
}

h1{
    font-size: 60px;
    margin-top: 80px;
    display: inline-block;
    font-family: 'Antonio', sans-serif;
}

/* ----------------------bottoni---------------------- */

.btn{
    display: inline-block;
    line-height: 10px;
}

#inizia{
    margin-left: 20px;
    display: inline;
}

.btn a{
    padding: 10px 15px;
    height: 30px;
    background-color: #0061ff;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#btn-mk2 a{
    background-color: white;
    border: 1px solid black;
    color: black;
}

#btn-mk2{
    display: inline-block;
    line-height: 10px;
}


/* -------------------animazioni bottoni e nav -----------------*/

header>nav>.nav-box>ul>li>a:hover{
    border-bottom: 2px solid black;
}

.btn a:hover{
    background-color: #2c7dff;
}

#btn-mk2 a:hover{
    background-color: rgb(233, 233, 233);
}

/*-------------------------- dropdown menu-------------------*/

.dropdown{
    display: none;
    border:1px solid lightgray;
    width: 700px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(0, calc(100% - 1px));
    background-color:#fafafa;
    z-index: 400;
}

.dropdown .col{
    width: auto;
    margin-bottom: 25px;
}

.dropdown .col ul li a{
    padding: 0 25px;
}

.col ul{
    list-style-type: none;
    margin-top: 5px;
}

li.drpd{
    line-height: 40px;
    margin: 10;
}

h4.drpd{
    line-height: 40px;
    margin: 25px 25px 15px 25px ;
    border-bottom: 1px solid lightgrey;
    display: inline-block;
    width: 180px;
    margin: 0 20px;
}

.drpd a{
    text-decoration: none;
    color: black;
}

.drop{
    position: relative;
}

#fun{
    width: 480px;
}

#fun .col{
    margin-top: 25px;
}

/*----------------------- animazioni dropdown---------- */
.drop:hover .dropdown{
    display: inline-block;
}

li.drpd:hover{
    background-color: rgb(226, 226, 226);
}
/*-------------------------------- header------------------------- */

header{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 99999;
}

nav{
    border-bottom: 1px solid lightgrey;
    padding-right: 20px;
}

header nav{
    width: 100%;
    max-height: 80px;
}

header nav .nav-box{
    /* width: 30%; */
    height: 80px;
}

header>nav>a {
    height: 80px;
    display: inline-block; 
}

header>nav>a>svg{
    width: 40px;
    height: 80px;
    margin: 0 0 0 20px; 
    line-height: 40px;
    
}

header>nav>a>div{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    position: relative; 
    transform: translate(0, -35px);
    font-size: 20px;
    font-weight: 700;
    color:#0061ff;
}

header>nav>.nav-box>ul{
    list-style-type: none;
    display: inline-block;
}

header>nav>.nav-box>ul>li{
    display: inline-block;
    line-height: 80px;
}

header>nav>.nav-box>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 0 17px;
    height: 80px;
    display: inline-block;
}

/* ------------------- jumbotron------------------------- */

.jumbotron{
    background-color: #b4d0e7;
    /* height:750px ; */
    margin-top: 80px;
}

.banner{
    margin-top: 30px;
}

.txt-banner{
    display: inline-block;
    width: 30%;
    margin: 50px 0;
}

.txt-banner p{
    margin-bottom: 40px;
}

.txt-banner span{
    display: inline-block;
    margin-top: 40px;
}

.txt-banner .arrow{
    padding-top: 50px;
}

.txt-banner .arrow a{
    font-size: 50px;
    color:black;
}

.jumbotron .img-banner{
    display: inline-block;
    /* width: 80%; */
    position: absolute;
    padding-top: 50px;
}

.jumbotron .img-banner img{
    width: 100%;
}

/* --------------------------chat -------------------------*/

.chat{
    position:fixed;
    bottom: 20px;
    right: 20px;
    height: 70px;
    width: 70px;
    border-radius:35px ;
    background-color: #0d2481;
    z-index: 100000;
    text-align: center;
    line-height: 70px;
    }

.chat a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color:white;
    font-size: 30px;
}

.cont{
    position: relative;
    display: none;
}

.chat>.cont>.chat-box{
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 300px;
    height: 400px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: left;
}

.chat>.cont>.chat-box>.chat-head{
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0061ff;
    color: white;
}

.chat>.cont>.chat-box>.chat-head>span{
    min-height: 30px;
    display: block;
    line-height: 30px;

}

.chat>.cont>.chat-box>.text-area{
    width: 100%;
    background-color: rgb(228, 228, 228);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 4;
    line-height: 40px;
}

.chat>.cont>.chat-box>.text-area>.text{
    width: calc(100% - 50px);
    line-height: 30px;
    display: inline-block;
    margin-left:10px ;
    margin-top: 5px;
}

.chat>.cont>.chat-box>.text-area>a{
    width: 20px;
    margin-left:5px ;
    color: #0061ff;
}

.chat:hover .cont{
    display: block;
}
/* ---------------------------sezioni------------------------ */

/* -------------------business ---------------------*/

section.business{
    margin-top: 200px;
}

section.business h2{
    display: block;
    text-align: center;
    font-size: 50px;
    margin: 50px 0;
}

.options{
    padding-left: 20px;
    margin-bottom: 50px;
}

.options span{
    margin-right: 20px;
}

section.business .options label{
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
}

.plane-box{
    width: 100%;
    /* height: 800px; */
}

.plane-box .plane-col{
    width: calc(100% / 3 - 40px);
    margin: 0 20px;
    border: 1px solid lightgrey;
    
}

.plane-type{
    border-bottom:  1px solid lightgrey;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.plane-type i{
    margin-right: 15px;
}

.plane-box .plane-col .info-box{
    padding:30px 20px;
    height: 870px;
}

.plane-box .plane-col .info-box h3{
    font-size: 30px;
}

.plane-box .plane-col .info-box h4{
    margin: 15px 0;
}

.plane-box .plane-col .info-box h6{
    font-weight: 400;
    color: rgb(148, 148, 148);
    font-size: 14px;
}

.plane-box .plane-col .info-box .spec{
    margin-top: 40px;
}

.plane-box .plane-col .info-box h5{
    font-weight: 300;
    font-size: 14px;
}

.plane-box .plane-col .info-box i{
    margin-right: 10px;
    font-size: 20px;
}

.dettagli{
    margin: 30px 0 50px 0;
}

.elem{
    margin: 10px 0;
}

.elem span{
    display: inline-block;
    line-height: 30px;
    font-size: 40px;
}

.elem span i{
    vertical-align: super;
}

.elem h5{
    display: inline-block;
    width: calc(100% - 30px) ;
}

.center{
    text-align: center;
    margin: 30px 0;
}

.prova{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.prova a{
    display: inline-block;
    width:100%;
    height: 50px;
    line-height: 30px;
}

hr.tiny{
    width: 70px;
    margin: 30px 0;
    color: lightgrey;
}

.info-box ul{
    margin-bottom: 50px;
}

.info-box ul li{
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
    margin: 5px 0;
}

.info-box ul li span{
    display: inline-block;
    width: calc(100% - 30px);
    padding-right: 30px;
}

.plane-row{
    margin: 40px 20px;
    width: calc(100% - 40px);
    border: 1px solid lightgrey;
}

.row-col{
    position: relative;
}

.row-col .row-col-text{
    width: calc(80% - 60px);
}

.plane-row .row-col h3{
    font-size: 30px;
}

.business .plane-row .row-col h3, .business .plane-row .row-col h4, .business .plane-row .row-col p{
    margin: 15px 30px;
    display: inline-block;
    width: 100%;
}

.plane-row .row-col p{
    margin-bottom: 50px;
}

.btn.btn-pos{
    position: absolute;
    top: 40px;
    right: 30px;
}

/*------------------------------ partner ---------------------------*/
section.partner{
    margin-top: 100px;
}

.partner>.row{
    padding: 0 20px;
}

.partner>.row>div{
    width: calc(100% / 2 - 40px);
    display: inline-block;
    height: 100%;
}

.partner>.row>div>img{
    width: 100%;
}

.partner>.row>div>h3, .partner>.row>div>p{
    display: inline-block;
    width: 100%;
    margin: 20px 0;
}

.partner>.row>div>h3{
    font-size: 30px;
}

.partner #text{
    padding: 70px 80px;
}

.partner .btn{
    margin-top: 40px;
}

/* -----------------------------operazioni----------------------- */
section.operazioni{
    margin-top: 150px;
}

.operazioni>h2{
    text-align: center;
    font-size: 40px;
}

.operazioni>.row{
    margin: 100px 0;
}

.operazioni>.row>.col{
    width: calc(100% / 3 - 40px);
    margin: 0 20px;
}

.operazioni>.row>.col>img{
    width: 80%;
}

.operazioni>.row>.col>h4{
    font-size: 26px;
    margin: 30px 0;
}

/* --------------------------sezione teams------------------------ */

.teams{
    margin-top: 150px;
    min-height: calc(33vw + 230px);
}
.teams h2{
    display: block;
    width: 60%;
    font-size: 50px;
}

.teams a{
    margin: 20px 0;
    display: block;
    font-size: 20px;
}

.teams>.row{
    width: 99vw;
    height: 33vw;
    position:absolute;
    left: 0;
    margin-top: 30px;
    z-index: 2;
}

.teams>.row>.col-side{
    width: 33vw;
    background-color: brown;
    height: 100%;
}

.teams>.row>.col-center{
    width: 33vw;
    background-color: #f5f5f5;
    height: 100%;
    padding: 20px 40px;
    overflow-y: auto;
    margin-bottom: 0;
}

.teams>.row>.col-center>img{
    width: 33%;
    margin: 150px 0 20px 0;
}

.teams>.row>.col-center>hr{
    width: 100px;
    height: 0.5px;
}

.teams>.row>.col-center>p{
    margin: 100px 0;
}

.teams>.row>.col-side>.item{
    width: 50%;
    height: 50%;
    background-color: salmon;
    text-align: center;
    line-height: 16vw;
    position: relative;
}

#designit{
    background-color: #a2d39b;
}

#asu{
    background-color: #61082b;
}

#uf{
    background-color: #0093ce;
}

#topps{
    background-color: #ff1c1c;
}

#wbr{
    background-color: #d5001f;
}

#hearst{
    background-color: #b4d0e7;
}

#lonely{
    background-color: #0d2481;
}

#clear{
    background-color: #ffd830;
}

.teams>.row>.col-side>.item>img{
    width: 50%;
    vertical-align: middle;
    filter: invert(1);
}

.bordo{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border:10px solid rgba(255, 255, 255, 0.4);
    display: none;
}

.section-foot{
    background-color: #b4d0e7;
    min-height: 300px;
    width: 100%;
    position: absolute;
    left: 0;
    margin-top: 0;
    padding-top: 150px;
}

.section-foot>.box{
    width: 55%;
    margin: 0 auto;
}

.section-foot>.box>h2{
    display: inline-block;
    font-size: 40px;
    color: #61082b;
    width: 60%;
    margin-bottom: 100px;
}

.section-foot>.box>#btn-mk2{
    margin: 0 0 0 200px;
    position: relative;
    transform: translate(0, -300%);
}

/* ------------animazioni teams----------- */

.teams>.row>.col-side>.item:hover .bordo{
    display: block;
}

/* ------------------FAQ ------------------*/

.faq{
    margin-top: 500px;
}

.faq>h3{
    font-size: 40px;
}

.faq>.box{
    margin: 50px 0;
    border-top: 1px solid lightgray;
}

.question{
    border-bottom: 1px solid lightgray;
    /* border-top: 1px solid grey; */
    padding: 20px 0;
    line-height: 40px;
    font-size: 18px;
}

.question>i{
    margin-top: 10px;
}

.question>.answer{
    width: 100%;
    display: none;
    padding: 7px 0;
    height: 0;
     transition: height 1s; /* non funziona la transition */
}

.question>span{
    width: 80%;
    display: inline-block;
}

.question>.answer>p{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4em;
    display: block;
    width: 80%;
}

.question:hover .answer{
    display: block;
    height: auto;
    transition: height 1s; /* non funziona la transition */
}

/* ---------------footer----------------- */

footer{
    width: 100%;
    min-height: 650px;
    background-color: #000000;
    color: white;
    padding: 150px 0;
}

footer .col{
    width: calc( 100% / 5);
}

footer h5{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}

footer ul li{
    margin: 10px 0;
    font-size: 14px;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

footer a:visited{
    color: white;
    text-decoration: none;
}

footer hr{
    width: 100px;
    color: white;
    margin-top: 100px;
}

footer #lang{
    margin: 30px 0;
    display: inline-block;
}

#lang:last-child{
    vertical-align: middle;
}

/* debug */

/* .debug header{
    background-color: aqua;
} */

/* .debug header nav{
    border: 1px solid black;
} */

/* .debug header nav .nav-box{
    background-color: rgba(0, 0, 0, 0.5);
} */

/* .debug header nav .nav-box a div{
    background-color: royalblue;
} */
/* 
.dropdown .col{
    background-color: lightsalmon;
    border: 1px solid black; 
}*/

/* .debug .plane-row{ 
    height: 100px;
}*/

